@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Outfit';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}
.css-16mspmx-MuiStepLabel-label.MuiStepLabel-alternativeLabel.Mui-active {
  color: #04463a;
}
#AddCampusBar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide horizontal scrollbar (optional) */
#AddCampusBar::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

.stepper {
  display: flex;
  position: relative;
  top: 0;
  transition: top 200ms linear;
  flex-direction: column;
}

.odometer {
  height: 20px;
  display: flex;
  overflow: hidden;
}

.stepper-value {
  height: 20px;
  line-height: 20px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

.ql-toolbar.ql-snow .ql-formats {
  background-color: #f8f8f9;
}

.ql-container.ql-snow {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-top: 10px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 1px;
}
